{% load static %}
<header class="header">
    <nav class="d-flex navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <div class="container">
            <img class="rounded-circle wazefah-logo" src="{% static '/images/wazefah.png' %}" alt="wazefah-logo">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% if 'profilepage' in request.path %}
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            {% else %}
                <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'main:user_home' %}">Home</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'main:home' %}">Home</a>
                        </li>
                    {% endif %}
                    {% if 'home' in request.path or 'user-home' in request.path %}
                        <li class="nav-item">
                            <a class="nav-link active" href="#company">Companies</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link active" href="#footer">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary active mx-2 mb-2" href="{% url 'main:result' %}">search</a>
                    </li>
                </ul>
            {% endif %}
            {% if not user.is_authenticated %}
                <div class="d-flex">
                    <a class="btn btn-primary mx-2 active" href="{% url 'main:login' %}">Log In</a>
                    <a class="btn btn-primary mx-2 active" href="{% url 'main:register' %}">Sign Up</a>
                </div>
            {% else %}
                <div class="dropdown">
                    <button type="button" class="btn dropdown-toggle" id="dropdownmenu"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        <h2 class="text-uppercase">{{ user }}</h2>
                        <img src="{{ user.userinformation.profile_pic.url }}"
                             alt="Profile image" class="rounded-circle user-profile-pic">
                    </button>
                    <ul class="dropdown-menu px-3" aria-labelledby="dropdownmenu">
                        <li><a class="drpodown-item btn btn-primary active align-self-center"
                               href="{% url 'main:profile' %}">Profile
                            Page</a></li>
                        <li><a class="drpodown-item btn btn-primary active align-self-center mt-2"
                               href="{% url 'main:logout' %}">Log
                            Out</a></li>
                    </ul>
                </div>
            {% endif %}
            </div>
            </div>
    </nav>
</header>