{% load static%}
<header class="header">
    <nav class="d-flex navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <div class="container-fluid">
            <img class="rounded-circle" src="{% static '/images/wazefah.png' %}" alt="wazefah-logo"
                style="width: 5em; height: 5em;">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'main:suggestion_job' %}">Home</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'main:home' %}">Home</a>
                    </li>
                    {% endif %}
                    {% if 'home' in request.path or 'home/SugJob' in request.path %}
                    <li class="nav-item">
                        <a class="nav-link active" href="#company">Companies</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link active" href="#footer">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary active mx-2" href="{% url 'main:result' %}">search</a>
                    </li>
                </ul>
                {% if not user.is_authenticated %}
                <div class="d-flex">
                    <a class="btn btn-primary mx-2" href="{% url 'main:log_in' %}">Log In</a>
                    <a class="btn btn-primary mx-2" href="{% url 'main:register' %}">Sign Up</a>
                </div>
                {% else %}
                <div class="d-flex flex-column-reverse justify-content-end ">
                    <a class="btn btn-primary active align-self-center" href="/logout/" p-0>Log Out</a>
                    <button type="button" class="btn ">
                        <h2 class="text-uppercase">{{user.username}}</h2>
                        <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fcdn.onlinewebfonts.com%2Fsvg%2Fimg_206976.png&f=1&nofb=1"
                            alt="Profile image" class="rounded-circle" width="50rem" height="50rem">
                    </button>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>
</header>