{% extends 'base.html' %}

{% block body_block %}
{% if user.is_authenticated %}
<div class="container my-4">
    <h2 class="text-dark text-center"> Suggestion Job </h2>
    <div class="d-flex flex-column align-items-center">
        <div class="d-flex flex-row flex-wrap justify-content-center">
            <div class="d-flex flex-row flex-wrap justify-content-center">
                {% for list in job_list %}
                <div class="card m-4 bg-light p-2" id="job_card">
                    <div class=" bg-light text-dark text-center pt-3">{{list.category}}</div>
                    <hr>
                    <div class="d-flex flex-column card-body text-dark">
                        <h4 class="card-title align-self-center text-center">{{list.title}}</h4>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop{{list.id}}">
                            View the Job
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop{{list.id}}" data-bs-backdrop="static"
                            data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Job Details </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="alert alert-secondary" role="alert">
                                            <h4 class="alert-heading">{{list.title}}</h4>
                                            <p>{{list.content}}</p>
                                            <p class="mb-0">Advertised company :- {{list.company_name}}
                                            </p>
                                            <p>The Date of advertised this job :- <time>{{list.created_on}}</time></p>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Enroll The Job</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}
<div class="container my-4" id="company">
    <h2 class="text-dark text-center"> Companies </h2>
    <div class="d-flex flex-column align-items-center mt-4">
        <div class="d-flex flex-row flex-wrap justify-content-center">
            <div class="d-flex flex-column align-items-center m-4 " id="company_1">
                <div class="card"
                    style="width: 18rem; height: 22rem; ;border-color: #5b7ab3; border-radius: 2em; border-width: .2em;">
                    <img src="https://assets-global.website-files.com/5eb143b314c8f315c7e1a7e2/60ef526882122d7b9bdfb749_Sitech_Logo_Blue.svg"
                        class="card-img-top p-3" alt="Sitech">
                    <div class="card-body p-2">
                        <h5 class="card-title text-primary text-uppercase"
                            style="text-align: center; font-weight: bolder;">Sitech</h5>
                        <p class="card-text text-primary" style="text-align: left;">Helping enterprises accelerate
                            their
                            digital growth through custom software development and innovative digital product
                            design.
                        </p>
                        <section class="d-flex justify-content-center"><a href="https://www.sitech.me/" target="blank"
                                class="btn btn-primary">Visit Website</a></section>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column align-items-center m-4 " id="company_2">
                <div class="card "
                    style="width: 20rem; height: 22rem; border-color: #5b7ab3; border-radius: 2em; border-width: .2em;">
                    <img src="https://www.ikea.com/global/en/images/ikea-logo.svg" class="card-img-top p-3" alt="Ikea">
                    <div class="card-body p-2">
                        <h5 class="card-title text-primary text-uppercase"
                            style="text-align: center; font-weight: bolder;">Ikea</h5>
                        <p class="card-text text-primary" style="text-align: left;">At IKEA, you'll find our range
                            of
                            well designed,
                            affordable home furnishing solutions – all waiting to be tried out.</p>
                        <section class="d-flex justify-content-center"><a href="https://www.ikea.com/jo/en/"
                                target="blank" class="btn btn-primary">Visit Website</a></section>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column align-items-center m-4 " id="company_3">
                <div class="card "
                    style="width: 20rem; height: 22rem; border-color: #5b7ab3; border-radius: 2em; border-width: .2em;">
                    <img src="https://eu.wholefoodsmarket.com/uploads/logo.svg"
                        class="card-img-top p-3 align-self-center" alt="Whole Foods Market"
                        style="width: 10rem; height: 10rem;">
                    <div class="card-body p-2">
                        <h5 class="card-title text-primary text-uppercase"
                            style="text-align: center; font-weight: bolder;">Whole Foods Market</h5>
                        <p class="card-text text-primary" style="text-align: left;">Choose from hundreds of our
                            favourite products and get them delivered to your door in a flash with Deliveroo.</p>
                        <section class="d-flex justify-content-center"><a
                                href=" https://eu.wholefoodsmarket.com/?destination=www.wholefoodsmarket.com%2F"
                                target="blank" class="btn btn-primary">Visit Website</a></section>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column align-items-center m-4 " id="company_4">
                <div class="card "
                    style="width: 20rem; height: 22rem; border-color: #5b7ab3; border-radius: 2em; border-width: .2em;">
                    <img src="https://www.sita.aero/static/images/logo.svg" class="card-img-top p-3 align-self-center"
                        alt="site" style="width: 10rem; height: 10rem;">
                    <div class="card-body p-2">
                        <h5 class="card-title text-primary text-uppercase"
                            style="text-align: center; font-weight: bolder;">Sita</h5>
                        <p class="card-text text-primary" style="text-align: left;">SITA is the world’s leading
                            specialist in air transport communications and information technology.</p>
                        <section class="d-flex justify-content-center"><a href="https://www.sita.aero/" target="blank"
                                class="btn btn-primary">Visit Website</a></section>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column align-items-center m-4 " id="company_5">
                <div class="card "
                    style="width: 20rem; height: 22rem; border-color: #5b7ab3; border-radius: 2em; border-width: .2em;">
                    <img src="https://pando-soft.com/static/img/logo.webp" class="card-img-top p-3 align-self-center"
                        alt="pando soft" style="width: 10rem; height: 10rem;">
                    <div class="card-body p-2">
                        <h5 class="card-title text-primary text-uppercase"
                            style="text-align: center; font-weight: bolder;">PandoSoft</h5>
                        <p class="card-text text-primary" style="text-align: left;">a fast-growing software
                            development
                            company with highly-experienced teams to deliver high-quality.</p>
                        <section class="d-flex justify-content-center"><a href="https://pando-soft.com/en/"
                                target="blank" class="btn btn-primary">Visit Website</a></section>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column align-items-center m-4 " id="company_6">
                <div class="card "
                    style="width: 20rem; height: 22rem; border-color: #5b7ab3; border-radius: 2em; border-width: .2em;">
                    <img src="https://www.chetu.com/img/logo-new-home.png" class="card-img-top p-3 align-self-center"
                        alt="chetu" style="width: 15rem; height: 10rem;">
                    <div class="card-body p-2">
                        <h5 class="card-title text-primary text-uppercase"
                            style="text-align: center; font-weight: bolder;">Chetu</h5>
                        <p class="card-text text-primary" style="text-align: left;">Chetu is a US-based software
                            development company specializing
                            in providing businesses worldwide with custom technology solutions.</p>
                        <section class="d-flex justify-content-center"><a href="https://www.chetu.com/" target="blank"
                                class="btn btn-primary">Visit Website</a></section>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column align-items-center m-4 " id="company_7">
                <div class="card "
                    style="width: 20rem; height: 22rem; border-color: #5b7ab3; border-radius: 2em; border-width: .2em;">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/PricewaterhouseCoopers_Logo.svg/220px-PricewaterhouseCoopers_Logo.svg.png"
                        class="card-img-top p-3 align-self-center" alt="PWC" style="width: 10rem; height: 8rem;">
                    <div class="card-body p-2">
                        <h5 class="card-title text-primary text-uppercase"
                            style="text-align: center; font-weight: bolder;">PwC</h5>
                        <p class="card-text text-primary" style="text-align: left;">we deliver bold ideas, solutions
                            which are human-led and tech-powered and meaningful experiences which deliver real-life
                            results.</p>
                        <section class="d-flex justify-content-center"><a href="https://www.pwc.com/" target="blank"
                                class="btn btn-primary">Visit Website</a></section>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column align-items-center m-4 " id="company_8">
                <div class="card "
                    style="width: 20rem; height: 22rem; border-color: #5b7ab3; border-radius: 2em; border-width: .2em;">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Cisco_logo_blue_2016.svg/220px-Cisco_logo_blue_2016.svg.png"
                        class="card-img-top p-3 align-self-center" alt="cisco" style="width: 15rem; height: 10rem;">
                    <div class="card-body p-2">
                        <h5 class="card-title text-primary text-uppercase"
                            style="text-align: center; font-weight: bolder;">Cisco</h5>
                        <p class="card-text text-primary" style="text-align: left;">Cisco delivers innovative
                            software-defined networking, cloud, and security solutions to help transform your
                            business.
                        </p>
                        <section class="d-flex justify-content-center"><a href="https://www.cisco.com/" target="blank"
                                class="btn btn-primary">Visit Website</a></section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}