{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block profile_block %}

    <div class="" style="margin-top: 50px">

        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-left text-left p-3 py-5">
                        <h2>Profile Settings</h2>
                    </div>
                </div>
                <div class="col-md-5 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ u_form | crispy }}
                                {{ p_form | crispy }}
                                <button class="btn btn-warning">Update</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-7">
                <div class="card p-3 py-4">
                    <div class="text-center"><img src={{ user.userinformation.ProfilePic.url }} width="100"
                                                  class="rounded-circle"></div>
                    <!--                <div class="text-center mt-3"> <span class="bg-secondary p-1 px-4 rounded text-white">Pro</span>-->
                    <h5 class="mt-2 mb-0">{{ user.username }}</h5> <span>{{ user.userinformation.CareerPath }}</span>
                    <div class="px-4 mt-1">
                        <p class="fonts">{{ user.userinformation.Experience }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- timeline-->
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h4>Experience</h4>
                <ul class="timeline">
                    <li>
                        <a target="_blank" href="https://www.totoprayogo.com/#">Job 1</a>
                        <a href="#" class="float-right">Date </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi
                            semper, et elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula
                            in sodales vehicula....</p>
                    </li>
                    <li>
                        <a href="#">Job 2</a>
                        <a href="#" class="float-right">Date</a>
                        <p>Curabitur purus sem, malesuada eu luctus eget, suscipit sed turpis. Nam pellentesque felis
                            vitae justo accumsan, sed semper nisi sollicitudin...</p>
                    </li>
                    <li>
                        <a href="#">Job 3</a>
                        <a href="#" class="float-right">Date</a>
                        <p>Fusce ullamcorper ligula sit amet quam accumsan aliquet. Sed nulla odio, tincidunt vitae nunc
                            vitae, mollis pharetra velit. Sed nec tempor nibh...</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}