{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block profile_block %}

    <div class="" style="margin-top: 50px">

        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-left text-left p-3 py-5">
                        <h2>Profile Settings</h2>
                    </div>
                </div>
                <div class="col-md-5 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ u_form | crispy }}
                                {{ p_form | crispy }}
                                <button class="btn btn-warning">Update</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-7">
                <div class="card p-3 py-4">
                    <div class="text-center"><img src={{ user.userinformation.ProfilePic.url }} width="100"
                                                  class="rounded-circle"></div>
                    <!--                <div class="text-center mt-3"> <span class="bg-secondary p-1 px-4 rounded text-white">Pro</span>-->
                    <h5 class="mt-2 mb-0">{{ user.username }}</h5> <span>{{ user.userinformation.CareerPath }}</span>
                    <div class="px-4 mt-1">
                        <p class="fonts">{{ user.userinformation.Bio }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- timeline-->
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="d-flex justify-content-between">
                    <div>
                        <h4>Experience</h4>
                    </div>
                    <div>
                        <a class="btn btn-secondary" href="{% url 'main:create' %}">
                            <img src="/static/images/file-earmark-plus.svg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="d-flex flex-column justify-content-between">
                    {% for exps in exp %}
                        <ul class="exp-ul">
                            <li class="border rounded">
                                <a href="{{ exps.id }}" >{{ exps.position }}</a>
                                <p>{{ exps.description }}</p>
                            </li>
                        </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}