{% extends 'base.html' %}
{% block body_block %}
    <div class="d-flex justify-content-center">
        <div class="d-flex card border-primary border-2" style="width: 40rem;">
            <h2 class="align-self-center m-3 text-primary">Experience Details</h2>
            <div class="card-body text-primary">
                <div class="experience d-flex flex-column align-items-center">
                    <p><span class="efeild">Position:</span> {{ exp_detail.position }}</p>
                    <p><span class="efeild">Description:</span> {{ exp_detail.description }}</p>
                    <p><span class="efeild">Company: </span> {{ exp_detail.company_name }}</p>
                    <p><span class="efeild">Started Date: </span>{{ exp_detail.start_date }}</p>
                    <p><span class="efeild">End Date: </span>{{ exp_detail.end_date }}</p>
                    <a class="update"
                       href="{% url 'main:update' pk=exp_detail.pk %}">
                        <button class="btn btn-warning">Update</button>
                    </a>
                    <a class="update"
                       href="{% url 'main:delete' pk=exp_detail.pk %}">
                        <button class="btn btn-danger">Delete</button>
                    </a>
                </div>
            </div>
        </div>

    </div>

{% endblock %}